<template>
  <div>
    <div class="home">
      <div class="home_slider_container">
        <swiper
          :modules="modules"
          :slides-per-view="1"
          :space-between="0"
          :autoplay="{ delay: 4000 }"
          loop
          navigation
          @swiper="onSwiper"
          @slideChange="onSlideChange"
        >
          <swiper-slide>
            <div class="home_slider_item">
              <div
                class="home_slider_background"
                style="background-image: url('assets/images/slider2.jpg')"
              ></div>
              <div class="home_slider_content text-center">
                <div
                  class="home_slider_content_inner"
                  data-animation-in="flipInX"
                  data-animation-out="animate-out fadeOut"
                >
                  <h1>Saudi Arabian Visa</h1>
                  <h1>We Process Saudi Arabian Visa</h1>
                  <div class="button home_slider_button">
                    <div class="button_bcg"></div>
                  <nuxt-link to="/">explore now<span></span><span></span><span></span
                    ></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="home_slider_item">
              <div
                class="home_slider_background"
                style="background-image: url('assets/images/slider3.jpg')"
              ></div>
              <div class="home_slider_content text-center">
                <div class="home_slider_content_inner">
                  <h1>Dubai Visa</h1>
                  <h1>We Process Dubai Visa</h1>
                  <div class="button home_slider_button">
                    <div class="button_bcg"></div>
                    <nuxt-link to="/">explore now<span></span><span></span><span></span
                    ></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="home_slider_item">
              <div
                class="home_slider_background"
                style="background-image: url('assets/images/slider4.jpg')"
              ></div>
              <div class="home_slider_content text-center">
                <div
                  class="home_slider_content_inner"
                  data-animation-in="flipInX"
                  data-animation-out="animate-out fadeOut"
                >
                  <h1>Manpower</h1>
                  <h1>You Need Manpower?</h1>
                  <div class="button home_slider_button">
                    <div class="button_bcg"></div>
                   <nuxt-link to="/">explore now<span></span><span></span><span></span
                    ></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="home_slider_item">
              <div
                class="home_slider_background"
                style="background-image: url('assets/images/slider5.jpg')"
              ></div>
              <div class="home_slider_content text-center">
                <div
                  class="home_slider_content_inner"
                  data-animation-in="flipInX"
                  data-animation-out="animate-out fadeOut"
                >
                  <h1>Flight Booking</h1>
                  <h1>Book Your Flight From Here</h1>
                  <div class="button home_slider_button">
                    <div class="button_bcg"></div>
                   <nuxt-link to="/">explore now<span></span><span></span><span></span
                    ></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="home_slider_item">
              <div
                class="home_slider_background"
                style="background-image: url('assets/images/slider6.jpg')"
              ></div>
              <div class="home_slider_content text-center">
                <div
                  class="home_slider_content_inner"
                  data-animation-in="flipInX"
                  data-animation-out="animate-out fadeOut"
                >
                  <h1>Work Visa</h1>
                  <h1>Flight Booking</h1>
                  <div class="button home_slider_button">
                    <div class="button_bcg"></div>
                    <nuxt-link to="/">explore now<span></span><span></span><span></span
                    ></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="home_slider_item">
              <div
                class="home_slider_background"
                style="background-image: url('assets/images/slider7.jpg')"
              ></div>
              <div class="home_slider_content text-center">
                <div
                  class="home_slider_content_inner"
                  data-animation-in="flipInX"
                  data-animation-out="animate-out fadeOut"
                >
                  <h1>Work Visa</h1>
                  <h1>Manpower Processing</h1>
                  <div class="button home_slider_button">
                    <div class="button_bcg"></div>
                   <nuxt-link to="/">explore now<span></span><span></span><span></span
                    ></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="home_slider_item">
              <div
                class="home_slider_background"
                style="background-image: url('assets/images/slider1.jpg')"
              ></div>
              <div class="home_slider_content text-center">
                <div
                  class="home_slider_content_inner"
                  data-animation-in="flipInX"
                  data-animation-out="animate-out fadeOut"
                >
                  <h1>Malaysian Visa</h1>
                  <h1>We Process Malaysian Visa</h1>
                  <div class="button home_slider_button">
                    <div class="button_bcg"></div>
                  <nuxt-link to="/">explore now<span></span><span></span><span></span
                    ></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script>
import { Autoplay, Navigation } from "swiper";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/autoplay";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    const onSwiper = (swiper) => {
      console.log(swiper);
    };
    const onSlideChange = () => {
      console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation, Autoplay],
    };
  },
};
</script>

<style scoped>
.home {
  height: 100vh !important;
}
</style>
