<template>
  <div>
    <div class="row">
      <div class="col">
        <div class="partner_slider">
          <swiper
            :modules="modules"
            :slides-per-view="4"
            :space-between="0"
            :autoplay="{ delay: 4000 }"
            loop
            navigation
            @swiper="onSwiper"
            @slideChange="onSlideChange"
          >
            <!-- <swiper-slide>
              <div class="partner-div">
                <img
                  src="assets/images/partners/ismail-holding.png"
                  class="partner_image"
                  alt=""
                />
                <div class="partner_title">Ismail Holding</div>
              </div></swiper-slide
            > -->
            <swiper-slide>
              <div class="partner-div">
                <img
                  src="assets/images/partners/noon.jpg"
                  class="partner_image"
                  alt=""
                />
                <div class="partner_title">Noon</div>
              </div></swiper-slide
            >
            <swiper-slide>
              <div class="partner-div">
                <img
                  src="assets/images/partners/hatn-al-khaleej.jpeg"
                  class="partner_image"
                  alt=""
                />
                <div class="partner_title">Hatn al khaleej</div>
              </div></swiper-slide
            >
            <swiper-slide>
              <div class="partner-div">
                <img
                  src="assets/images/partners/ramatex.png"
                  class="partner_image"
                  alt=""
                />
                <div class="partner_title">
                  Ramatex Textiles Industrial Sdn Bhd
                </div>
              </div></swiper-slide
            >
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Autoplay, Navigation } from "swiper";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/autoplay";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    const onSwiper = (swiper) => {
      console.log(swiper);
    };
    const onSlideChange = () => {
      console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation, Autoplay],
    };
  },
};
</script>

<style scoped>
.home {
  height: 100vh !important;
}
</style>
