<template>
  <div>
    <div class="row">
      <div class="col">
        <div class="testimonial_slider">
          <swiper
            :modules="modules"
            :slides-per-view="1"
            :space-between="0"
            :autoplay="{ delay: 4000 }"
            loop
            navigation
            @swiper="onSwiper"
            @slideChange="onSlideChange"
          >
            	
<swiper-slide>
<div class="cta_item text-center">
<div class="cta_title">Nazmul Hasan</div>
<div class="rating_r rating_r_4">
<i></i>
<i></i>
<i></i>
<i></i>
<i></i>
</div>
<p class="cta_text">"My first impressions were really favorable. Everyone was extremely professional and helpful to me."</p>
<div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
</div></swiper-slide>
<swiper-slide>
<div class="cta_item text-center">
<div class="cta_title">Rakib Majumder</div>
<div class="rating_r rating_r_4">
<i></i>
<i></i>
<i></i>
<i></i>
<i></i>
</div>
<p class="cta_text">"Bookings was simple, communication was superb, and the deals were fantastic."</p>
<div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
</div>
</swiper-slide>
<swiper-slide>
<div class="cta_item text-center">
<div class="cta_title">Shohidul Haque Monir</div>
<div class="rating_r rating_r_4">
<i></i>
<i></i>
<i></i>
<i></i>
<i></i>
</div>
<p class="cta_text">"I believe the service was excellent, especially during Covid."</p>
<div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
</div>
</swiper-slide>
<swiper-slide>
<div class="cta_item text-center">
	<div class="cta_title">Arifur Rahman</div>
<div class="rating_r rating_r_4">
<i></i>
<i></i>
<i></i>
<i></i>
<i></i>
</div>
<p class="cta_text">"Excellent and wonderfully efficient service."</p>
<div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
</div>
</swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Autoplay, Navigation } from "swiper";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/autoplay";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    const onSwiper = (swiper) => {
      console.log(swiper);
    };
    const onSlideChange = () => {
      console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation, Autoplay],
    };
  },
};
</script>

<style scoped>
.home {
  height: 100vh !important;
}
</style>
