	<template>
	<div>
		<div :class="showMobileMenu?'menu trans_500 active':'menu trans_500'">
			<div
				class="
					menu_content
					d-flex
					flex-column
					align-items-center
					justify-content-center
					text-center
				"
			>
				<div class="menu_close_container">
					<div class="menu_close" @click="closeMobileMenu()">

                              </div>
				</div>
				<div class="logo menu_logo">
					<nuxt-link to="/">
						<img src="~/assets/images/logo.png" />
					</nuxt-link>
				</div>
				<ul>
					<li class="menu_item">
						<nuxt-link to="/">Home</nuxt-link>
					</li>
					<li class="menu_item">
						<nuxt-link to="/about">About Us</nuxt-link>
					</li>
					<li class="menu_item">
						<nuxt-link to="services"
							>Services</nuxt-link
						>
					</li>
					<li class="menu_item">
						<nuxt-link to="/gallery">Gallery</nuxt-link>
					</li>
					<li class="menu_item">
						<nuxt-link to="/partners"
							>Our Partners</nuxt-link
						>
					</li>
					<li class="menu_item">
						<nuxt-link to="/contact-us"
							>Contact Us</nuxt-link
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
            props: {
			showMobileMenu: Boolean,
		},
		methods: {
			closeMobileMenu() {
				// this.$emit("closeMobileMenu");
			},
		},
	};
</script>

