<template>
<div>
  <footer class="footer">
	<div class="container">
	<div class="row">

	<div class="col-lg-4 footer_column">
	<div class="footer_col">
	<div class="footer_content footer_about">
	<div class="logo_container footer_logo">
	<div class="logo">
		<nuxt-link to="/">
			<img src="~/assets/images/logo.png"/>
		</nuxt-link>
	</div>
	</div>
	<p class="footer_about_text">Expert consultants, proven experience and outstanding recruitment Service. East West Paradise is synonymous with recruitment at its best.</p>

	</div>
	</div>
	</div>

	<div class="col-lg-4 footer_column">
	
	</div>


	<div class="col-lg-4 footer_column">
	<div class="footer_col">
	<div class="footer_title">Contact Info</div>
	<div class="footer_content footer_contact">
	<ul class="contact_info_list">
	<li class="contact_info_item d-flex flex-row">
	<div><div class="contact_info_icon"><img src="https://preview.colorlib.com/theme/travelix/images/placeholder.svg" alt=""></div></div>
	<div class="contact_info_text">Jomidar Palace(Lift # 08), 291-Fakirapool, Inner Circular Road, Motijheel, Dhaka-1000 </div>
	</li>
	<li class="contact_info_item d-flex flex-row">
	<div><div class="contact_info_icon"><img src="https://preview.colorlib.com/theme/travelix/images/phone-call.svg" alt=""></div></div>
	<div class="contact_info_text">
		<a href="tel:+8801730717973">+880 1730 717973</a>
	</div>
	</li>
	<li class="contact_info_item d-flex flex-row">
	<div><div class="contact_info_icon"><img src="https://preview.colorlib.com/theme/travelix/images/message.svg" alt="" ></div></div>
	<div class="contact_info_text"><a href="mailto:eastwest2007@yahoo.com">eastwest2007@yahoo.com</a></div>
	</li>
	<li class="contact_info_item d-flex flex-row">
	<div><div class="contact_info_icon"><img src="https://preview.colorlib.com/theme/travelix/images/planet-earth.svg" alt=""></div></div>
	<div class="contact_info_text"><nuxt-link to="/">www.nanaleaders.com</nuxt-link></div>
	</li>
	</ul>
	</div>
	</div>
	</div>
	</div>
	</div>
	</footer>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 order-lg-1 order-2">
          <div class="copyright_content d-flex flex-row align-items-center">
            <div>
              Copyright &copy;
             2022
              All rights reserved | Developed by
              <a href="https://thetork.com" target="_blank">Tork Inc.</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 order-lg-2 order-1">
          <div
            class="
              footer_nav_container
              d-flex
              flex-row
              align-items-center
              justify-content-lg-end
            "
          >
            <div class="footer_nav">
               
			      <ul class="footer_nav_list">
                <li class="footer_nav_item"><nuxt-link to="/">Home</nuxt-link></li>
                <li class="footer_nav_item">
                 <nuxt-link to="/about">About Us</nuxt-link>
                </li>
                <li class="footer_nav_item">
                 <nuxt-link to="services">Services</nuxt-link>
                </li>
                <li class="footer_nav_item">
                <nuxt-link to="/gallery">Gallery</nuxt-link>
                </li>
                <li class="footer_nav_item">
                  <nuxt-link to="/partners">Our Partners</nuxt-link>
                </li>
                <li class="footer_nav_item">
                  <nuxt-link to="/contact-us">Contact Us</nuxt-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</template>

<script>
export default {}
</script>

