<template>
  <div>
    <div class="home">
	<div class="parallax-window" data-parallax="scroll"  style="background-image: url('assets/images/about_background.jpg')" >
		<div class="home_content">
			<div class="home_title">about us</div>
		</div>
	</div>
</div>

<!-- Intro -->

<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro_image"><img src="~/assets/images/intro.png" alt=""></div>
			</div>

			<div class="col-lg-12">
				<br>
				<br>
				<div class="intro_content">
					<div class="intro_title text-center">We have the best Visa Processing Service</div>
					<p class="intro_text text-justify">We are pleased to introduce our reputation, credibility in international recruitment
						field in Human resources around the globe, and consequently request you to appoint us
						your recruitment agent.
						As a premier foreign employment company, East West Paradise ranks one of the top in the human resources
						recruitment field, which provides the best option and compromises between recruitment cost, timely service and
						workers" realiability. This process of designing and excuting professional recruitments has earned us one of the best
						recruitment companies in the region.
						The target groups of East West Paradise are those thousand of different nationalities workforces who seek
						employment in Malayasia &amp; Others Countries. We seek to distinguish ourselves as the most flexible, efficient, and
						reliable manpower in the client service. Our agency enables clients to benefit from a recruitment package, tailored
						to the individual company need as per the time required.
						As a well-established recruitment company and intermediary in your service, we keep the promise to our clients and
						customers "The right employee for the right position".</p>
					<div class="button intro_button"><div class="button_bcg"></div><a href="#">explore now<span></span><span></span><span></span></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
  </div>
</template>

<script>
export default{

}
</script>

<style scoped>
.intro_button
{
	bottom: -60px!important;
}
</style>

