<template>
  <div>
    <div class="home">
	<div class="parallax-window" data-parallax="scroll"  style="background-image: url('assets/images/about_background.jpg')" >
		<div class="home_content">
			<div class="home_title">Contact Us</div>
		</div>
	</div>
</div>


<div class="contact_form_section" style="margin-top: 100px;">
	<div class="container">
	<div class="row">
	<div class="col">

	<div class="contact_form_container">
	<div class="contact_title text-center">Get in touch</div>
	<form action="#" id="contact_form" class="contact_form text-center">
	<input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Name" required data-error="Name is required.">
	<input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="E-mail" required data-error="Email is required.">
	<input type="text" id="contact_form_subject" class="contact_form_subject input_field" placeholder="Subject" required data-error="Subject is required.">
	<textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Message" required data-error="Please, write us a message."></textarea>
	<button type="submit" id="form_submit_button" class="form_submit_button button trans_200">Send message<span></span><span></span><span></span></button>
	</form>
	</div>
	</div>
	</div>
	</div>
</div>

  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
