<template>
  <div>
      <div class="home">
	<div class="parallax-window" data-parallax="scroll"  style="background-image: url('assets/images/flight_background.jpg')" >
		<div class="home_content">
			<div class="home_title">Flights</div>
		</div>
	</div>
</div>

<!-- Intro -->

<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="intro_image"><img src="~/assets/images/hu-bhraman.png" alt=""></div>

				<br>		
				<br>		
						

				
			</div>
			<div class="col-lg-6">
				<p class="intro_text text-justify">
					H.U. Bhraman International is extremely user-friendly & cheapest to the premium-most, offering you a range of timings, amenities and prices. Compare the route, the fare prices, avail offers if any and close your booking. In order to make your booking just call us.
				Select whether one-way, return or multi-city journey.
				Further on, enter the starting and onward destinations, the date of your journey, number of passengers and preferred class of travel, and search flights.
				Please call for more details. After calling you will get a list of flights for your said dates. After comparing the cost, enter passenger details and proceed to the payment to make your booking.
				There are here to make your flight search effective and worthwhile.
			</p>
			</div>
			<div class="col-lg-2">
			</div>
			<div class="col-lg-4">
				<h2 class="approved_by">Approved By</h2>
				<br>
				<br>
				<div class="intro_image"><img src="~/assets/images/iata.png" alt=""></div>
				<br>
				<div class="intro_image"><img src="~/assets/images/biman.png" alt=""></div>
			</div>
		
			<div class="col-lg-12">
				<br>
				<br>
				
				<div class="intro_content text-center">
					<div class="intro_title">H.U. Bhraman International</div>
					<p class="intro_text">Email: hubhramaninternational@gmail.com</p>
					<p class="intro_text">Phone: +880 1730 717973</p>
					<div class="button intro_button"><div class="button_bcg"></div><a href="tel:+8801730717973">Call Now<span></span><span></span><span></span></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>