<template>
  <div class="intro">
<div class="container">
<div class="row">
<div class="col">
</div>
</div>
<div class="row">
<div class="col-lg-10 offset-lg-1">
<div class="intro_text text-center">
</div>
</div>
</div>
<div class="row">

	<div class="col-lg-4">
	<div class="intro_item custom_height">
	<div class="intro_item_content align-items-center">

		<img src="~/assets/images/gallaries/gallery-1.jpeg" alt="">

	</div>
	</div>
	</div>


	<div class="col-lg-4 intro_col">
	<div class="intro_item custom_height">
	<div class="intro_item_content align-items-center">
		<img src="~/assets/images/gallaries/gallery-2.jpeg" alt="">

	</div>
	</div>
	</div>

	<div class="col-lg-4 intro_col">
	<div class="intro_item custom_height">
	<div class="intro_item_content align-items-center">
		<img src="~/assets/images/gallaries/gallery-3.jpeg" alt="">
	</div>
	</div>
	</div>

	<div class="col-lg-4">
		<div class="intro_item custom_height">
		<div class="intro_item_content align-items-center">

			<img src="~/assets/images/gallaries/gallery-4.jpeg" alt="">

		</div>
		</div>
		</div>


		<div class="col-lg-4 intro_col">
		<div class="intro_item custom_height">
		<div class="intro_item_content align-items-center">
			<img src="~/assets/images/gallaries/gallery-5.jpeg" alt="">

		</div>
		</div>
		</div>

		<div class="col-lg-4 intro_col">
		<div class="intro_item custom_height">
		<div class="intro_item_content align-items-center">
			<img src="~/assets/images/gallaries/gallery-6.jpeg" alt="">
		</div>
		</div>
		</div>

		<div class="col-lg-4">
			<div class="intro_item custom_height">
			<div class="intro_item_content align-items-center">

				<img src="~/assets/images/gallaries/gallery-7.jpeg" alt="">

			</div>
			</div>
			</div>


			<div class="col-lg-4 intro_col">
			<div class="intro_item custom_height">
			<div class="intro_item_content align-items-center">
				<img src="~/assets/images/gallaries/gallery-8.jpeg" alt="">

			</div>
			</div>
			</div>

			<div class="col-lg-4 intro_col">
			<div class="intro_item custom_height">
			<div class="intro_item_content align-items-center">
				<img src="~/assets/images/gallaries/gallery-9.jpeg" alt="">
			</div>
			</div>
			</div>

			<div class="col-lg-4 intro_col">
				<div class="intro_item custom_height">
				<div class="intro_item_content align-items-center">
					<img src="~/assets/images/gallaries/gallery-10.jpeg" alt="">
				</div>
				</div>
				</div>

</div>
</div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
