<template>
  <div>
    <div class="home">
	<div class="parallax-window" data-parallax="scroll"  style="background-image: url('assets/images/about_background.jpg')" >
		<div class="home_content">
			<div class="home_title">Partners</div>
		</div>
	</div>
</div>



<div class="testimonials">
	<div class="container">

	<div class="row">
	<div class="col">

	<div class="test_slider_container">

		<div class="row">
	<!-- <div class="col-md-3">

		<div class="partner-div">
			<img src="~/assets/images/partners/ismail-holding.png" class="partner_image" alt="">
			<div class="partner_title">Ismail Holding</div>
		</div>

	</div> -->

	<div class="col-md-3">

		<div class="partner-div">
			<img src="~/assets/images/partners/noon.jpg" class="partner_image" alt="">
			<div class="partner_title">Noon</div>
		</div>

	</div>

	<div class="col-md-3">

		<div class="partner-div">
			<img src="~/assets/images/partners/hatn-al-khaleej.jpeg" class="partner_image" alt="">
			<div class="partner_title">Hatn al khaleej</div>
		</div>

	</div>

	<div class="col-md-3">

		<div class="partner-div">
			<img src="~/assets/images/partners/ramatex.png" class="partner_image" alt="">
			<div class="partner_title">Ramatex Textiles Industrial Sdn Bhd</div>
		</div>

	</div>


	</div>


	</div>
	</div>
	</div>
	</div>
	</div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
