<template>
  <div>
    <div class="home">
	<div class="parallax-window" data-parallax="scroll"  style="background: url('assets/images/about_background.jpg')" >
		<div class="home_content">
			<div class="home_title">Services</div>
		</div>
	</div>
</div>

<!-- Intro -->
<div class="intro">
	<div class="container">
	<div class="row">
	<div class="col">
	<h2 class="intro_title text-center">We Proces Different Type of Visa</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-lg-10 offset-lg-1">
	<div class="intro_text text-center">
	<p>As a premier foreign employment company, East West Paradise ranks one of the top in the human resources
		recruitment field, which provides the best option and compromises between recruitment cost, timely service and
		workers" realiability.</p>
	</div>
	</div>
	</div>
	<div class="row intro_items">

	<div class="col-lg-4 intro_col">
	<div class="intro_item">
	<div class="intro_item_overlay"></div>

	<div class="intro_item_background" style="background-image:url('assets/images/malaysia-visa.jpg')"></div>
	<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
	<div class="intro_date">Work Visa Processing</div>
	<div class="button intro_button"><div class="button_bcg"></div><a href="tel:+8801730717973">Call Now<span></span><span></span><span></span></a></div>
	<div class="intro_center text-center">
	<h1>Malaysia</h1>
	<div class="intro_price"></div>
	<!-- <div class="rating rating_4">
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	</div> -->
	</div>
	</div>
	</div>
	</div>

	<div class="col-lg-4 intro_col">
	<div class="intro_item">
	<div class="intro_item_overlay"></div>

	<div class="intro_item_background" style="background-image:url('assets/images/saudi-visa.jpg')"></div>
	<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
	<div class="intro_date">Work Visa Processing</div>
	<div class="button intro_button"><div class="button_bcg"></div><a href="tel:+8801730717973">Call Now<span></span><span></span><span></span></a></div>
	<div class="intro_center text-center">
	<h1>Saudi Arabia</h1>
	<div class="intro_price"></div>
	<!-- <div class="rating rating_4">
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	</div> -->
	</div>
	</div>
	</div>
	</div>

	<div class="col-lg-4 intro_col">
	<div class="intro_item">
	<div class="intro_item_overlay"></div>

	<div class="intro_item_background" style="background-image:url('assets/images/dubai-visa.jpg')"></div>
	<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
	<div class="intro_date">Work Visa Processing</div>
	<div class="button intro_button"><div class="button_bcg"></div><a href="tel:+8801730717973">Call Now<span></span><span></span><span></span></a></div>
	<div class="intro_center text-center">
	<h1>Dubai</h1>
	<div class="intro_price"></div>
	<!-- <div class="rating rating_4">
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	</div> -->
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>

	<!-- Intro -->
<div class="intro">
	<div class="container">
	<div class="row">
	<div class="col">
	<h2 class="intro_title text-center">We also have Manpower Service</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-lg-10 offset-lg-1">
	<div class="intro_text text-center">
	</div>
	</div>
	</div>
	<div class="row intro_items">

	<div class="col-lg-4 intro_col">
	</div>

	<div class="col-lg-4 intro_col">
	<div class="intro_item">
	<div class="intro_item_overlay"></div>

	<div class="intro_item_background" style="background-image:url('assets/images/manpower.png')"></div>
	<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
	<div class="intro_date">Man Power Processing</div>
	<div class="button intro_button"><div class="button_bcg"></div><a  href="tel:+8801730717973">Call Now<span></span><span></span><span></span></a></div>
	<div class="intro_center text-center">
	<h1>Any Country</h1>
	<div class="intro_price"></div>
	<!-- <div class="rating rating_4">
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	<i class="fa fa-star"></i>
	</div> -->
	</div>
	</div>
	</div>
	</div>


	</div>
	</div>
	</div>

	<!-- Intro -->
	<div class="intro">
		<div class="container">
		<div class="row">
		<div class="col">
		<h2 class="intro_title text-center">We also have Flight Booking Service</h2>
		</div>
		</div>
		<div class="row">
		<div class="col-lg-10 offset-lg-1">
		<div class="intro_text text-center">
		</div>
		</div>
		</div>
		<div class="row intro_items">

		<div class="col-lg-4 intro_col">
		</div>

		<div class="col-lg-4 intro_col">
		<div class="intro_item">
		<div class="intro_item_overlay"></div>

		<div class="intro_item_background" style="background-image:url('assets/images/flight.jpg')"></div>
		<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
		<div class="intro_date">Flight Booking Service</div>
		<div class="button intro_button"><div class="button_bcg"></div><a  href="tel:+8801730717973">Call Now<span></span><span></span><span></span></a></div>
		<div class="intro_center text-center">
		<h1>Call for details</h1>
		<div class="intro_price"></div>
		<!-- <div class="rating rating_4">
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		</div> -->
		</div>
		</div>
		</div>
		</div>


		</div>
		</div>
		</div>

  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
