<template>
  <div>
      
<div class="home">
	<div class="parallax-window" data-parallax="scroll"  style="background-image: url('assets/images/visa_background.jpg')" >
		<div class="home_content">
			<div class="home_title">Visa Processing</div>
		</div>
	</div>
</div>

<!-- Intro -->

<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="intro_image"><img src="~/assets/images/logo.png" alt=""></div>

				<br>		
				<br>		
						

				
			</div>
			<div class="col-lg-12">
				<p class="intro_text text-justify">
					We are pleased to introduce our reputation, credibility in international recruitment
					field in Human resources around the globe, and consequently request you to appoint us
					your recruitment agent.
					As a premier foreign employment company, East West Paradise ranks one of the top in the human resources
					recruitment field, which provides the best option and compromises between recruitment cost, timely service and
					workers" realiability. This process of designing and excuting professional recruitments has earned us one of the best
					recruitment companies in the region.
					The target groups of East West Paradise are those thousand of different nationalities workforces who seek
					employment in Malayasia & Others Countries. We seek to distinguish ourselves as the most flexible, efficient, and
					reliable manpower in the client service. Our agency enables clients to benefit from a recruitment package, tailored
					to the individual company need as per the time required.
					As a well-established recruitment company and intermediary in your service, we keep the promise to our clients and
					customers "The right employee for the right position".
			</p>
			</div>
			
		
			<div class="col-lg-12">
				<br>
				<br>
				
				<div class="intro_content text-center">
					<div class="intro_title">East West Paradise</div>
					<p class="intro_text">Email: eastwest2007@yahoo.com</p>
					<p class="intro_text">Phone: +880 1730 717973</p>
					<div class="button intro_button"><div class="button_bcg"></div><a href="tel:+8801730717973">Call Now<span></span><span></span><span></span></a></div>
				</div>
			</div>
		</div>
	</div>
</div>

  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>